.commentPreview {
    border-radius: 10px;
    /* border: 1px solid lightgray; */
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.commentPreviewTop {
    display: flex;
    align-items: center;
}

.commentTimeAgo {
    color: gray;
}

.commentPreviewProfilePic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}   

.commentPreviewInput {
    padding: 8px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.commentPreviewInput:focus {
    outline: none;
    box-shadow: none;
}